<div id="<%= dom_id quote %>">
  <p>
    <strong>Body:</strong>
    <%= quote.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= quote.author %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= quote.context %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= quote.order %>
  </p>

</div>
